<header>
  <mat-toolbar color="primary">
    <span routerLink="/" class="header-link-home">MyProdCart</span>
    <span class="header-spacer"></span>
    <button routerLink="/cart" mat-icon-button class="header-icon" aria-label="Shopping cart button">
      <mat-icon>shopping_cart</mat-icon>
    </button>
    <button routerLink="/user" mat-icon-button class="header-icon" aria-label="User button">
      <mat-icon>person</mat-icon>
    </button>
    <button mat-icon-button [matMenuTriggerFor]="menu" class="header-icon" aria-label="Language Menu">
      <mat-icon>language</mat-icon>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Português</button>
        <button mat-menu-item>English</button>
      </mat-menu>
    </button>
  </mat-toolbar>
</header>