<h2>Cart</h2>

<div class="cart-buttons">

  <label mat-button class="cart-file-upload">
    <mat-icon>folder_open</mat-icon>
    <span class="cart-file-upload-label" i18n>Choose a JSON file to load the list of items.</span>
    <input accept="application/JSON" type="file" style="display: none" (change)="onFileUpload($event.target.files[0])">
  </label>

  <button class="cart-button-clear" *ngIf="list" mat-mini-fab color="accent" aria-label="Clear cart" (click)="onClearCart()" type="button" i18n>
    <mat-icon>delete</mat-icon>
  </button>

</div>

<app-items-list *ngIf="list" [list]="list"></app-items-list>