html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  transition: color .2s;

  &:hover {
    color: blue;
  }
}